@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

body {
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #f7f7f7;
}

.card {
  width: 450px;
  border: 2px solid black;
}
